<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Sign Up</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/signup_style.css') }}" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
        rel="stylesheet"
        type="text/css"
      />
      <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

      <script type="text/javascript" src="{{ url_for('static', filename='js/validate_register.js') }}"></script>
    </head>

    <body class="body">
      
        <div class="form">
          <h1>Sign up </h1>
          <p>To be able to use all features of this website, you will require an account. The form below will allow you to create a new account if you don't have one.</p>
          <form method="post" action="" onsubmit="return validate()">
            <input type="text" name="username" placeholder="User name"  >
            <input type="text" name="email" placeholder="Email address" >
            <input type="password" name="password" id="password" placeholder="Set password">
            <input type="password" name="repassword" id="repassword" placeholder="Pepeat password" >
            <i class="fas fa-eye" onclick="show()"></i>
            <br>
            <br>

            <div class="button">
              <input type="submit" class="button" value="Set Up">
            </div>
          </form>
          
      </div>
    </body>

    <script>
      function show() {
        var password = document.getElementById("password");
        var repassword = document.getElementById("repassword");
        var icon = document.querySelector(".fas");

        // ========== Checking type of password ===========
        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }

        if (repassword.type === "password") {
          repassword.type = "text";
        } else {
          repassword.type = "password";
        }
      }
    </script>
  </html>
</html>
